*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    place-items: center;
    background: rgb(16, 2, 29) url('../img/bg-img.jpg') repeat center;
    background-size: contain;
    gap: 1%;
    padding: 2rem;
}

.game-help {
    width: 100%;
    text-align: center;
    padding: 0 5%;
}

.game-help__button {
    width: 40%;
    max-width: 125px;
    height: auto;
    background-color: transparent;
    border: none;
    margin-bottom: 15%;
    opacity: 0;
    transition: ease 2s;
    visibility: hidden;
}

.game-help__button.is-active {
    opacity: 1;
    visibility: visible;
}

.game-help__button:hover {
    opacity: .35;
}

.game-help__tip-img {
    width: 100%;
    opacity: .15;
    visibility: hidden;
}

.game-help__tip-img.is-active {
    visibility: visible;
}

.game-board {
    aspect-ratio: 9.5 / 8;
    max-width: 950px;
    width: 100%;
    background: url('../img/table.png') center no-repeat;
    background-size: contain;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board__container {
    width: 74%;
    height: 88%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
    gap: 2.35%;
}

.game-board__button {
    width: 100%;
    max-width: 150px;
    height: max-content;
    position: relative;
    transition: ease-in .3s;
    border: none;
}

.game-board__button:hover {
    scale: .97;
}

.game-board__img {
    width: 100%;
    position: absolute;
    translate: -50% -50%;
    transition: ease-in .3;
}

.game-board__img--stage0 {
    z-index: 0;
}
.game-board__img--stage1 {
    z-index: 100;
    opacity: 0;
}
.game-board__img--stage2 {
    z-index: 200;
    opacity: 0;
}
.game-board__img--stage3 {
    z-index: 300;
    opacity: 0;
}

.game-board__img--active {
    opacity: 0;
}

.game-board__img--active.is-active {
    opacity: 1;
}

.game-board__img--stage1.is-active,
.game-board__img--stage2.is-active,
.game-board__img--stage3.is-active {
    opacity: 1;
}

.game-reset {
    width: 50%;
    max-width: 80px;
    background-color: transparent;
    border: none;
    opacity: .3;
    transition: ease 1s;
}

.game-reset:hover {
    opacity: .5;
}

@keyframes show-opacity {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes showdoor-position {
    from { translate: 0 200% }
    to { translate: 0 0 }
}

.victory-modal {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(16, 0, 19);
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation-name: show-opacity;
    animation-timing-function: ease-in-out;
    animation-duration: 2s
}

.victory-modal.is-active {
    display: flex;
}

.victory-modal__img {
    width: 70%;
    max-width: 600px;
    position: absolute;
}

.victory-modal__img--stage1 {
    animation-name: showdoor-position;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier( 0.68, -0.55, 0.265, 1.55 );
    animation-delay: 2s;
    animation-fill-mode: both;
}

.victory-modal__img--stage2 {
    opacity: 0;
    animation-name: showdoor-opacity;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;
    animation-fill-mode: both;
}

.victory-modal__reset {
    width: 30%;
    max-width: 50px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10%;
    right: 10%;
    opacity: .2;
    transition: ease .5s;
}

.victory-modal__reset:hover {
    opacity: .3;
}